body {
    font-family: Arial, sans-serif;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #8a0bf1ec , #1e1e1e 41rem);
    overflow-y: hidden;
}

header{
    background: #000000b7;
    justify-content: space-between;
    padding: 20px;
    display: flex;

}

.login {
    display: flex;
}

.barra-pesquisa{
    color: #000000;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.952);
    margin-top: 0.2rem;
    margin-left: 35rem;
    height: 32px;
    width: 750px;
    border-radius: 15px;
    border: none;
    position: absolute;
    padding: 9px;
    white-space: nowrap;
    padding-right: 70px; /* Para dar espaço à lupa */

}

.lupa{
    position: relative;
    left: 83.5rem;
    margin-top: 14px;
    width: 2rem;
    
}

.caixa-principal{
    padding: 150px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    background: linear-gradient(to bottom, #8a0bf186 , #1e1e1ed7 );
    margin: 5rem auto auto auto;
    color: rgb(255, 255, 255);
    border: 1px solid #000000;
}

.texto-principal {
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    margin-top: -5rem;    
}

.apresentacao-caixa {
    color: #d6d6d6;
    text-align: center;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin-bottom: 4rem;
    margin-top: 2rem;
}

input[type="email"], input[type="password"] {
    width: 20rem;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
}

.botao-logavel {
    color: #000000;
    background-color: #890BF1;
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    width: 20rem;
    height: 50px;
    font-size: 16px;
    margin: 10px 0;
    transition: transform 0.2s ease;
}

.botao-logavel:hover{
    transform: scale(1.1);
}

.Termos-de-uso{
    color: #ffffff;
    margin-left: 24px;
}

.Link-Termos {
    color: #ffffff;
}

.Link-Termos:hover{
    color: #a304ff;

}

.rodape{
    background: linear-gradient(to bottom, #1e1e1ed7,  #8a0bf186);
    display: flex;
    height: 100px;
    padding: 100px;
    margin-top: 10px;

}

.caixa-final {
    display: flex;
    margin-left: 20rem;
    font-size: small;
    color: #d6d6d6;
}