*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #8a0bf1ec , #1e1e1e 41rem);
    overflow-y: hidden;
}

header{
    background-color: black;
    padding: 20px;
    display: flex;

}

.login {
    display: flex;
}

.logo {
    height: auto;
    width: auto;

}

.logo:hover{
    transform: scale(1.1);
}


.caixa-principal{
    padding: 150px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    background: linear-gradient(to bottom, #8a0bf186 , #1e1e1ed7 );
    margin: 5rem auto auto auto;
    color: rgba(255, 255, 255, 0.589);
    border: 1px solid #000000;
}

.texto-principal {
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    margin-top: -5rem;    
}

.apresentacao-caixa {
    color: #d6d6d6;
    text-align: center;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin-bottom: 4rem;
    margin-top: 2rem;
}

input[type="email"], input[type="password"] {
    width: 20rem;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 15px;
    box-sizing: border-box;
}

.botao-logavel {
    color: #000000;
    background-color: #890BF1;
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    width: 20rem;
    height: 50px;
    font-size: 16px;
    margin: 10px 0;
    transition: transform 0.2s ease;
}

.botao-logavel:hover{
    transform: scale(1.1);
}

.texto-desejo-cliente{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.botao-outra-plataforma{
    width: 20rem;
    height: 50px;
    margin-bottom: 5px;
    border-color: #890BF1;
    border-radius: 10px;
}

.botao-outra-plataforma2 {
    width: 20rem;
    height: 50px;
    margin-top: 5px;
    border-color: #3b5998;
    border-radius: 10PX;
}

.Cadastrando {
    display: flex;
    margin-top: 10px;
    font-size: large;
}

.texto-final {
    margin-right: 5px;
}

.rodape{
    background: linear-gradient(to bottom, #1e1e1ed7,  #8a0bf186);
    display: flex;
    height: 100px;
    padding: 100px;
    margin-top: 10px;

}

.caixa-final {
    display: flex;
    margin-left: 20rem;
    font-size: small;
    color: #d6d6d6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #a304ff;
    text-decoration: none;
}

