body {
    background: linear-gradient(to bottom, #2B2B2B , #8C00FF);
    padding: 0;
    margin: 0;
}


.cabecario {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

.header-esquerda {
    display: flex;
}

.LogoSite {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-left: 1rem;
}

.localizacao {
    height: 40px;
    width: 32px;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.header-meio {

}


.barra-pesquisa{
    border: transparent;
    width: 40rem;
    height: 2.5rem;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding-right: 60px; /* Para dar espaço à lupa */
    padding-left: 10px;
    margin-top: 1rem;
}

.lupa{
    position: absolute;
    margin-left: -3rem;
    margin-top: 1.3rem;
    width: 2rem;
    height: 2rem;
}

.conta {
    margin-left: 1rem;
    margin-top: 1rem;
}

.header-direita {
    display: flex;    
}

.boneco{
    width: 3rem;
    height: 3rem;
    margin-left: ;
    margin-right: ;
    margin-top: 1rem;
}

.favoritos{
    top: 0.25rem;
    left: -1rem;
    width: 50px;
    height: 50px;
}

.carrinho{
    width: 39px;
    height: 40px;
}

.desconto {
    margin-left: 43rem;
    margin-top: 2rem;
    width: 40rem;
    height: 20rem;
    border-radius: 1rem;
}
.desconto:hover{
    transform: scale(1.1);
}

.produto {

}
